fastapi
uvicorn[standard]
pydantic
langgraph
langchain
gradio
tavily-python
langchain-nvidia-ai-endpoints
playwright
arxiv
httpx
duckduckgo-search
langgraph-checkpoint-postgres
psycopg[binary,pool]
faiss-cpu
pypdf
langchain-huggingface
sentence-transformers
langchain-community